.not_found{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .error{
        font-size: 10rem;
    }

    .message{
        font-size: 2rem;
    }

    .back{
        background-color: var(--secondary-color);
        margin-top: 15px;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
}

@media all and (max-width: 650px) {
    .not_found{
        height: 60vh;
        padding: 0 20px;
        .message{
            font-size: 1.2rem;
        }
    }
}